body {
    margin: 10px;
    border: 5px;
    background-image: url(../_imagem/cachoeira-veu-da-noiva.jpg)

}

h1{
    text-align: center;
    font-size: 10vw;
    font-weight: bolder;
    color: black;
}

.flex h2{
font-size: 5vw;
color: rgb(20, 5, 224);
}

img{
    max-width: 100%;
  
    display: block;
}


